<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <!--注释 因为在log4net_local.config文件已经配置 modified by hxx on 2012-08-27-->
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--spring配置-->
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />

      <!--Dao-->
      <resource uri="assembly://DAO.Hibernate/DAO.Hibernate.Config/DaoBase.xml" />
      <resource uri="assembly://DAO.Hibernate/DAO.Hibernate.Config/DaoHelp.xml" />
      <resource uri="assembly://DAO.Hibernate/DAO.Hibernate.Config/Dao.xml" />
      <!--Service-->
      <resource uri="assembly://Service/Service.Config/ServiceBase.xml" />
      <resource uri="assembly://Service/Service.Config/Product.xml" />
    </context>
    <objects xmlns="http://www.springframework.net"/>
  </spring>
  <databaseSettings>
    <!--SQL Server-->
    <add key="provider" value="System.Data.SqlClient" />
    <!--分析库连接配置-->
    <add key="connectionString"
          value="server=192.168.10.165;database=Northwind;uid=sa;pwd=000000;" />
    <!--数据库方言配置-->
    <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
    <add key="driver_class" value="NHibernate.Driver.SqlClientDriver"/>

  </databaseSettings>
  <appSettings>
    <!-- 数据配置 时间为毫秒-->
    <add key="log4net" value="\Config\log4net_local.config" />
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
